[submodule "storage-service"]
	path = storage-service
	url = https://github.com/ulyagff/storage-service
[submodule "client-service"]
	path = client-service
	url = https://github.com/ulyagff/client-service
